* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 1rem;
	font-family: "Open Sans", sans-serif;
}

div {
	margin: 1rem;
	border: 1px dashed;
	padding: 1rem;
}

.one {
	width: 200px;
	height: 200px;
}

.flex {
	background-color: #aba;
	/* write declarations here */
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid {
	background-color: #abb;
	/* enter declarations here */
	display: grid;
	place-items: center;
}

.container2 {
	/* write declarations here */
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.two {
	background-color: #ace;
	height: 100px;
	width: auto;
	padding-top: 40px;
}

.container3 {
	/* write declarations here */
display: grid;
justify-content: 1fr 1fr 1fr;
padding: 0px;
}

.columns-3 {
	/* write declaration here */
	grid-column: 1/4;
}

.three {
	margin: .25rem;
	background-color: #abd;
	text-align: center;
	
}
