* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1 {
    background-color: black;
    color: white;
    padding: 40px;
    text-align: center;
    margin: 15px;
}
img {
    width: 300px;
    height: auto;
    margin: 5px;
}
div {
    text-align: center;
    padding: 30px;
}
section {
    display: flex;
    justify-content: center;
}
.image {
    position: relative;
}
.image p {
    position: absolute;
    bottom:40px;
    left: 38px;
    background-color: black;
    color: white;
    padding: 3px;
    opacity: 0;
    transition:opacity 0.5s;
}
.image:hover p {
opacity: 1;
}

