:root {
--primary-color:aqua ;
--secondary-color:white ;
--accent1-color: blue;
--accent2-color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav a {
    text-decoration: none;
    border: white;
    background-color: aquamarine;
    padding: 10px;
    color:var(--accent1-color);
    border: solid var(--accent2-color);
    padding-inline: 50px;
    float: right;
}
header figure {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    padding: 20px;
    align-items: center;
}
main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
footer figure {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;    
}
footer .socialmedia {
    display: flex;
    margin-left: auto;  
}

footer .socialmedia a img {
    width: 50px;
    height: auto;
    display: flex;
    padding: 5px;
    
}
footer p {
    display: flex;
    margin: 0 auto;
}
.socialmedia {
    position: absolute;
}
figure {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
main h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    padding-top: 100px;
    font-size: 50px;
}
main p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 60px;
    font-size: 35px;
    padding-inline: 350px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
}
.button1 {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.button1, button {
    padding: 5px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 10px;
}
button:hover {
    background-color: rgb(216, 140, 140);
}
section img {
    width: 450px;
    height: 300px;
    margin: 30px;
    border-radius: 15px;
    border: 3px solid yellow;
}
.first-section {
    display: flex;
    justify-content: center;
}
.second-section {
    display: flex;
    justify-content: center;
}
section {
    background-color: rgb(229, 241, 241);
}
.section1 {
    padding-bottom: 70px;
    text-shadow: 3px 3px green;
}
fieldset {
    border-style: none;
}
.form3 form {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 15px;
}
.form1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
input {
    width: 700px;
    height: 25px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
}
label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
form button {
    display: flex;
    justify-content: center;
}
.button2 {
    display: flex;
    justify-content: center;
}

main h1 {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-size: 60px;
    text-decoration: underline orange;
}
main {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
}

.hero article img{
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero article img {
    float: right;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
}

article {
    position: absolute;
}