* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-color:steelblue;
    --other-color:gray;
}
nav {
    background-color: var(--font-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--font-color);
}
img {
    width: 300px;
    height: auto;
    border: 1px solid var(--font-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--other-color);
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    position: relative;
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: yellow;
    color: green;
    text-align: center;
}
aside img {
    width:200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}
footer {
    margin-top: 15px;
    border-top: 1px solid blue;
    text-align: center;
}
aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}
/*class selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}